/* My Generic CSS */

html {
  background-color: #ffffff;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: white;
  max-height: 1920px;
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}

.wrapper {
  /*min-height: 100vh;*/
  height: 819px;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.box {
  background-color: rgba(255, 166, 0, 0.8);
  border: 2px solid black;
  border-radius: 4px;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  align-items: center;
}



.visible {
  display: block;
  visibility: visible;
}

form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  /* here we are setting white space correctly */
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 4px;
}

form label {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

h2 {
  margin: 0;
  padding: 0;
  color: rgb(45, 21, 205);
  font-size: x-large;
}

h3 {
  margin: 0;
  padding: 0;
  color: rgb(45, 21, 205);
  font-size: medium;
}

h4 {
    font-size: x-large;
}

h5 {
    display: inline;
    margin: 0;
    padding: 0;
    color: rgb(45, 21, 205);
    font-size: x-large;
  }


/* My "More Customized" CSS*/

/* Header Tabs CSS */

.headerTabsContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  /*padding-left: 1rem;*/
  justify-content: space-evenly;
  /*width: 100vw;*/
}

.headerTabTextContainer {
    display: flex;
    flex-direction: row;
}

.headerTab {
  display: flex;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 12vh;
  width: 140px;
}

.headerTabLast {
  display: flex;
  border-right: 2px solid black;
  padding-right: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activeTab {
    display: flex;
    background-color: rgb(7, 233, 7);
    /*padding-left: 1rem;*/
}

/* Filter & Display CSS */

.middleSectionContainer {
    display: flex;
    flex-direction: row;
    width: 1425px;
}

.leftSideContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 300px;
    min-height: 700px;
    /*padding-right: 5px;*/
}

/* Top Section of Filter Section CSS */

.searchByBoxContainer {
    width: 298px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-bottom: .5rem;
    /*padding-right: 5px;*/
}

.filterSectionInactive {
    color: rgba(70, 68, 68, 0.286);
}

.headerSectionInactive {
    background-color: rgba(70, 68, 68, 0.286);
}

.searchBySelectionCheckbox {
    align-self: start;
    height: 20px;
    width: 20px;
}

.searchTextfieldContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchBySelectionTextfieldLabel {
    font-size: large;
}

.searchBySelectionTextfield {
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid black;
}

.searchBySelectionLowerContainer {
    display: flex;
    flex-direction: row;
}

.searchBySelectionLowerContainerCheckboxesContainer {
    display: flex;
    flex-direction: row;
}

.searchBySelectionLowerContainerCheckboxAndLabelContainer {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

.searchBySelectionLowerContainerCheckbox {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
}

.searchBySelectionLowerContainerCheckboxLabel {
    display: flex;
    flex-direction: row;
    font-size: medium;
    width: 50px;
}

.searchTextfieldGoButton {
    align-self: center;
    align-items: center;
    justify-content: center;
   /*margin-left: 6rem;*/
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 6px;
    height: 25px;
    width: 35px;
    
}

/* Top Section of Add Tab Filter Section */

.addTabFilterLabelContainer {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.addTabFilterLabel {
    font-size: large;
}

.addTypeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Bottom Section of Filter Section */

.filterByBoxContainer{
    display: flex;
    flex-direction: column;
}

.filterBySelectionCheckbox {
    align-self: start;
    height: 20px;
    width: 20px;
}

.filterAndGoContainer {
    display: flex;
    flex-direction: row;
}

.filterGoButtonLabel {
    font-size: x-large;
    margin-left: 1rem;
}

.filterGoButton {
    height: 30px;
    align-self: center;
    margin-left: 7.5rem;
    font-size: x-large;
    padding-left: 1rem;
    padding-right: 1rem;
}

.genericFiltersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: flex-start;
    align-content: flex-start;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    width: 130px;
    height: fit-content;
    align-items: center;
    margin-left: .5rem;
    /*margin-right: .5rem;*/
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.filterCheckbox {
    display: flex;
    width: 15px;
    height: 15px;
}

.filterCheckboxLabel {
    display: flex;
    font-size: small;
    margin-left: .5rem;
}

.filterSectionStatusLabel {
    font-size: x-large;
    margin-left: 1.5rem;
}

.statusFiltersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    justify-content: flex-start;
    align-content: flex-start;
}

.filterFooterContainer {
    display: flex;
    flex-direction: row;
    /*border-top: 2px solid black;*/
    border-bottom: 2px solid black;
    height: 35px;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
    justify-content: space-around;
}

.footerFilterContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.filterFooterContainerLabel {
    display: flex;
    font-size: x-large;
    padding-left: 1rem;
    border-top: 2px solid black;
}

.filterCheckboxLabelAddTab {
    display: flex;
    font-size: large;
    margin-left: .5rem;
    flex-direction: row;
}

.filterContainerAddTab {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: .5rem;
}

/* Display CSS */

    /* All Wr's */

.rightSideContainer {
    display: flex;
    flex-direction: row;
    /*position: relative;*/
}



.allWrDisplayLabelContainer {
    display: flex;
    flex-direction: row;
}

.allWrDisplayWrRow {
    display: flex;
    flex-direction: row;
}

.allWrDisplayPriorityNumberContainer {
    display: flex;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-top: .5rem;
    width: 3vw;
    align-items: center;
    justify-content: center;
}

.allWrDisplayWrAddressType {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 7.5vw;
    justify-content: center;
    align-items: center;
}

.allWrDisplayWrDate {
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 3vw;
    justify-content: center;
    align-items: center;
}

.allWrDisplayWrStatus {
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 3vw;
    justify-content: center;
    align-items: center;
}

.allWrDisplayToDo {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 7.5vw;
    justify-content: center;
    align-items: center;
}

.allWrDisplayWrComments {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 14vw;
    justify-content: center;
    align-items: center;
}

.allWrDisplayPOCContainer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}

.pocWrapper {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    flex-direction: row;
    font-size: small;
    width: 8.5vw;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: .5rem;
    position: relative; /* Used for Settings Display position */
}


/* Tab CSS */

.allWrDisplayContainer {
    display: flex;
    flex-direction: column;
}

/* Add Tab */

.addDisplayContainer {
    display: flex;
    flex-direction: column;
    width: 1115px;
}

.addTabDisplayTop {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.addTabDisplayLabel {
    font-size: xx-large;
}

.addTabDisplayTopMid {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}

.newWrNumberTextfield {
    border: 2px solid black;
    margin: 8px;
    height: 25px;
    width: 140px;
}

.newWorkRequestNumberTextfieldLabel {
    font-size: large;
    margin: 8px;
    height: 30px;
    width: 230px;

}

.newWorkRequestNumberTextfieldLabelBig {
    font-size: large;
    margin: 8px;
    height: 30px;
    width: 290px;

}

.newWrNumContainer {
    display: flex;
    align-self: center;
    margin-right: 250px;
}

.addNewWrButton {
    background-color: rgb(222, 246, 7);
    margin-right: 25px;
    height: 40px;
    width: fit-content;
    /*margin-left: 475px;*/
}

.addTabDisplayBottomMid {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.addressBox {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 1rem;
    width: 300px;
}

.addressBoxLabel {
    font-size: large;
}

.addressElementContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addressLineTextfield {
    border: 2px solid black;
    margin: .5rem;
    height: 25px;
}

.addressLineLabel {
    margin: .5rem;
    font-size: medium;
}

.customerContactedPriorityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customerContactedContainer {
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
}

.customerContactedLabel {
    margin-right: 1.5rem;
    margin-top: 2.3rem;
}

.customerContactedCheckboxContainer {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    align-items: center;
    margin-right: 1rem;
}

.customerContactedCheckbox {
    height: 20px;
    width: 20px;
}

.customerContactedCheckboxLabel {
    font-size: large;
}

.addTabWrPriorityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.addTabPriorityBox {
    border: 2px solid black;
    height: 30px;
    width: 30px;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.addTabCreationBox {
    border: 2px solid black;
    height: 30px;
    width: 30px;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.addTabPriorityBoxLabel {
    font-size: large;
    margin: 1rem;
}

.pocContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height:fit-content;
    margin-bottom: 5px;
}

.pocRowOneContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.pocRowOneLabelContainer {
    display: flex;
    border: 2px solid black;
    font-size: large;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.pocRowOneLabelContainerEmail {
    display: flex;
    border: 2px solid black;
    font-size: large;
    padding-left: 1rem;
    padding-right: 4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Dummy Container for Table */
.pocRowOneLabelContainerBlank {
    display: flex;
    border: 2px solid black;
    font-size: large;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
}

.pocRowTwoContainer {
    display: flex;
    flex-direction: row;
    margin-top: .75rem;
}

.pocColLabel {
    border: 2px solid black;
    font-size: large;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pocTextboxName {
    border: 2px solid black;
    width: 80px;
    height: 40px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .75rem;
    margin-right: 1rem;
}

.pocTextboxNumber {
    border: 2px solid black;
    width: 100px;
    height: 40px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: 1rem;
}

.pocTextboxEmail {
    border: 2px solid black;
    width: 125px;
    height: 40px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.pocRowThreeContainer {
    display: flex;
    margin-top: .5rem;
}

.pocRowFourContainer {
    display: flex;
    margin-top: .5rem;
}

.pocColLabelRowThree {
    border: 2px solid black;
    font-size: large;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    padding-right: .9rem;
}

.pocColLabelRowFour {
    border: 2px solid black;
    font-size: large;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1.35rem;
    padding-right: 1.35rem;
}

.addTabDisplayBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*gap: 7vw;*/
    width: 1110px;
}

.addTabDisplayBottomLeftContainer {
    display: flex;
    flex-direction: column;
}

.date_add_tab_wr {
    border: 2px solid black;
    padding: 7px;
    width: 125px;
}

.dateAddTabPermit {
    border: 2px solid black;
    padding: .5rem;
}

.addTabTextfieldContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.addTabPermitTextfieldContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addTabTextfield {
    border: 2px solid black;
    height: 40px;
}

.addTabTextfieldLabel {
    font-size: medium;
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
}

.addTabTextfieldLabelPermit {
    font-size: medium;
    margin-left: 30px;
    margin-right: 30px;
    /*width: 150px;*/
}

.addTabTextfieldLabelBottomLeft {
    font-size: medium;
    margin-left: 30px;
    margin-right: 30px;
    width: 240px;
    margin-bottom: 5px;
}

.addTabCommentTextfieldLabel {
    font-size: medium;
    margin-left: 100px;
    margin-top: 10px;
    width: 110px;
    /*margin-right: -20px;*/
}

.addTabDisplayBottomRightContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 620px;
    height: 345px;
}

.addTabBottomRightRowOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.addTabCommentsAddButton, .addTabPermitCommentsAddButton {
    height: 20px;
    width: 20px;
    font-size: large;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTabCommentsAddButtonLabel {
    display: flex;
    font-size: large;
    margin-top: .75rem;
    margin-left: 1rem;
    margin-right: 20px;
    min-width: 160px;
}

.addTabBottomRightRowTwo {
    display: flex;
}

.addTabCommentsTextfield {
    border: 2px solid black;
    width: 590px;
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.addCommentTabTextfield {
    border: 2px solid black;
    width: 920px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.addTabDisplayAddWr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.addTabCommentsToAddList {
    border: 2px solid black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.addTabPermitCommentsToAddList {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 548px;
}

.addTabWrCommentsListElement {
    margin-left: .5rem;
    margin-right: .5rem;
}

/* Footer CSS */

.footerContainer {
    margin: 0;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1424px;
}

.footerObject {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.loadSaveButtonsContainer {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}

.footerButton {
    display: flex;
    margin-left: 1rem;
}

.dataFromValueDateLabel {
    display: flex;
    padding-right: .5rem;
}

.dataFromValueTimeLabel {
    display: flex;
    padding-left: 1rem;
    padding-right: .5rem;
}

.dataFromValueAllLabel {
    display: flex;
    padding-left: .5rem;
    padding-right: 1rem;
}

/* Dropdown Menu - General */

.dropdownMenuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    height: 25px;
    width: 120px;
    border: 2px solid black;
}

.dropdownMenuBoxXXLarge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 25px;
    width: 120px;
    border: 2px solid black;
}

.dropdownMenuBoxLarge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 25px;
    width: 170px;
    border: 2px solid black;
}

.dropdownMenuOption {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}
.dropdownMenuOptionBlank {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    width: 80px;
    height: 18px;
}

.dropdownMenuOption:hover {background-color:#ddd;}

.dropdownMenuOptionBlank:hover {background-color:#ddd;}


/* Dropdown Menu - Functionality - Specific Buttons */

    /* Wr Type */
.dropdownMenuWrType {
    position: relative;
    display: inline;
}

.dropdownMenuContentWrType {
    display: none;
    position: absolute;
    background-color: rgb(150, 205, 219);
    min-width: 70px;
    z-index: 1;
}

.dropdownButtonAddTabWrType {
    width: 30px;
    height: 29px;
    font-size: large;
}

.dropdownMenuWrType:hover .dropdownMenuContentWrType {display: block;}

.dropdownMenuWrType:hover .dropdownButtonAddTabWrType {background-color: #3e8e41;}

    /* General Status */
.dropdownMenuWrGeneralStatus {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.dropdownMenuContentWrGeneralStatus {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgb(150, 205, 219);
    width: 300px;
    flex-wrap: wrap;
    z-index: 1;
    margin-bottom: 4vh;
}

.dropdownButtonAddTabWrGeneralStatus {
    width: 30px;
    height: 29px;
    font-size: large;
}

.dropdownMenuBoxOptionGeneralStatus {
    color: black;
    text-decoration: none;
    font-size: large;
    display: flex;
    padding: .5rem;
}

.dropdownMenuBoxOptionGeneralStatusMed {
    color: black;
    text-decoration: none;
    font-size: medium;
    display: flex;
    padding: .5rem;
}

.dropdownMenuWrGeneralStatus:hover .dropdownMenuContentWrGeneralStatus {display: flex;}

.dropdownMenuWrGeneralStatus:hover .dropdownButtonAddTabWrGeneralStatus {background-color: #3e8e41;}

    /* Permit Status */
.dropdownMenuBoxOptionPermitStatus {
    font-size: large;
}

.dropdownMenuBoxOptionPermitStatusMed {
    display: flex;
    font-size: medium;
    justify-content: center;
    align-content: center;
    padding-left: 1vw;
}

.dropdownMenuWrPermitStatus {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.dropdownButtonAddTabWrPermitStatus {
    width: 30px;
    height: 29px;
    font-size: large;
}

.dropdownMenuContentWrPermitStatus {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgb(150, 205, 219);
    width: 6vw;
    flex-wrap: nowrap;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 4vh;
    align-items: center;
}

.dropdownMenuWrPermitStatus:hover .dropdownMenuContentWrPermitStatus {display: flex;}

.dropdownMenuWrPermitStatus:hover .dropdownButtonAddTabWrPermitStatus {background-color: #3e8e41;}

    /* Easement Request Status */
.dropdownMenuBoxOptionEasementRequestStatus {
    font-size: large;
    margin: .5rem;
}

.dropdownMenuBoxOptionEasementRequestStatus {
    display: flex;
    font-size: medium;
    justify-content: center;
    align-content: center;
    padding-left: 1vw;
}

.dropdownMenuWrEasementRequestStatus {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.dropdownButtonAddTabWrEasementRequestStatus {
    width: 30px;
    height: 29px;
    font-size: large;
}

.dropdownMenuContentWrEasementRequestStatus {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgb(150, 205, 219);
    width: 150px;
    flex-wrap: nowrap;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 4vh;
    align-items: center;
}

.dropdownMenuWrEasementRequestStatus:hover .dropdownMenuContentWrEasementRequestStatus {display: flex;}

.dropdownMenuWrEasementRequestStatus:hover .dropdownButtonAddTabWrEasementRequestStatus {background-color: #3e8e41;}

.allWrStatusDDMenuBox {
    display: flex;
    border: 2px solid black;
    padding: 1rem;
    width: 30px;
    height: 10px;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.commentTypeDDMenuBox {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    width: 60px;
    height: 10px;
    align-items: center;
    justify-content: center;
    font-size: small;
    margin-left: 10px;
}

.permitStatusDDMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}

.permitStatusDDMenuBox {
    display: flex;
    border: 2px solid black;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    width: 50px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    font-size: small;

}

.wrTypeDDMenuBox {
    display: flex;
    border: 2px solid black;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    width: 120px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    font-size: small;

}

.generalStatusDDMenuBox {
    display: flex;
    border: 2px solid black;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    width: 50px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.easementStatusDDMenuBox {
    display: flex;
    border: 2px solid black;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    width: 50px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.permitStatusDDMenuContentBox {
    display: none;
    flex-direction: column;
    padding: .5rem;
    border: 2px solid black;
}

.permitStatusDDMenuContentItem {
    display: flex;
    padding: .5rem;
}

.permitStatusDDMenuButton {
    width: 25px;
    height: 46px;
    font-size: large;
}

.wrTypeDDMenuButton {
    width: 30px;
    height: 30px;
    font-size: large;
}

.commentTypeDDMenuButton {
    width: 30px;
    height: 30px;
    font-size: large;
}

.generalStatusDDMenuButton {
    width: 25px;
    height: 46px;
    font-size: large;
}

.easementStatusDDMenuButton {
    width: 25px;
    height: 46px;
    font-size: large;
}

.permitStatusRowElement {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 96px;
}

.wrTypeRowElement {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 96px;
}

.commentTypeRowElement {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}

.generalStatusRowElement {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 96px;
}

.easementStatusRowElement {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 96px;
}

.prevNextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

.addTabPermitCommentsPrevNextContainer {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 10px;
    /*margin-right: -120px;*/
}

.addTabCommentsPrevNextContainer {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 10px;
}

.currentPageBox {
    display: flex;
    border: 1px solid black;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
}

.addTabPriorityNumberTextfield {
    display: flex;
    width: 46px;
    height: 30px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: large;
}

/* ddMenuSpecific */

.ddMenuSpecific{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}

.ddMenuSpecificBox {
    display: flex;
    border: 2px solid black;
    padding: 1rem;
    width: 30px;
    height: 10px;
    align-items: center;
    justify-content: center;

}

.ddMenuSpecificContentBox {
    display: none;
    flex-direction: column;
    padding: .5rem;
    border: 2px solid black;
}

.ddMenuSpecificContentItem {
    display: flex;
    padding: .5rem;
    font-size: small;
}

.ddMenuSpecificContentItem:hover .ddMenuSpecificContentItem {color: #3e8e41;}  /* Doesn't do anything */


.ddMenuSpecificButton {
    width: 25px;
    height: 46px;
    font-size: large;
}

.errorMessage {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    color: red;
    padding-left: 20px;
    padding-right: 20px;
}

.errorMessagePriorityPermit {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    color: red;
    padding-left: 20px;
}

.errorMessageInvalidCommentType {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    width: 170px;
    color: red;
    padding-left: 20px;
    margin-right: -190px;
}

.noWrFound {
    display: flex;
    font-size: large;
    margin-top: 30px;
    margin-left: 50px;
}

.wrAddedPrompt {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    color: green;
    width: 150px;
    margin-left: 50px;
    margin-right: -200px;
}

.permitUpdatedPrompt {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    color: green;
    width: 190px;
    margin-left: 20px;
    margin-right: -210px;
}

.commentUpdatedPrompt {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    color: green;
    width: 200px;
    margin-left: 20px;
    margin-right: -220px;
}

.noChangesPrompt {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    color: orange;
    width: 150px;
    margin-left: 50px;
    margin-right: -200px;
}

.pageNextButton{
    display: flex;
    font-size: large;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.pagePrevButton {
    display: flex;
    font-size: large;
    height: 30px;
    align-items: center;
    justify-content: center;
    /*padding: .5rem;
    margin: .5rem;*/
}

.pagePrevButtonComments {
    display: flex;
    font-size: large;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    /*padding: .5rem;
    margin: .5rem;*/
}

.pageInfo {
    display: flex;
    font-size: x-large;
    padding: .5rem;
}

.addTabDisplayAddPermit {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addTabDisplayAddPermitLeft, .addTabDisplayAddPermitRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addTabDisplayAddPermitTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.addTabDisplayAddPermitBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border: 2px solid black;
    width: 600px;
    height: 310px;
    padding-bottom: 10px;
}

.addTabDisplayAddComment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid black;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
}

.addTabDisplayAddCommentRowOne {
    display: flex;
}

.addTabDisplayAddcommentRowThree {
    display: flex;
    flex-direction: row;
}

.addTabDisplayAddcommentRowThreeLabel {
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    font-size: large;
}

.addTabDisplayAddCommentRowFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addCommentTabExistingComments {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 390px;
    width: 900px;
    margin-left: 20px;
    margin-bottom: 10px;
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 10px;

}

.addCommentFilterTab {
    display: flex;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    padding-left: 5px;
    width: 80px;
    align-items: center;
    justify-content: center;
}

.addCommentTabDD {
    display: flex;
    
}

.dropdownMenuContentAddPermitStatus {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgb(150, 205, 219);
    width: 6vw;
    flex-wrap: nowrap;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    margin-top: 4vh;
}

.dropdownMenuAddPermitStatus {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dropdownMenuAddPermitStatus:hover .dropdownMenuContentAddPermitStatus {display: flex;}

.dropdownMenuAddPermitStatus:hover .dropdownButtonAddTabWrPermitStatus {background-color: #3e8e41;}

.smallText {
    font-size: small;
}

.addTabPermitBottomRowOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    width: 600px;
}

.addTabPermitBottomRowTwo {
    display: flex;
    width: 600px;
    margin-bottom: 10px;
}

.addTabPermitBottomRowThree {
    display: flex;
    width: 600px;
    padding-left: 2rem;
}

.addTabPermitCommentsAddButton {
    height: 20px;
    width: 20px;
    font-size: large;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTabPermitCommentsAddButtonLabel {
    display: flex;
    font-size: medium;
    margin-top: .75rem;
    margin-left: 1rem;
    min-width: 135px;
}

.addTabPermitCommentsTextfield {
    border: 2px solid black;
    width: 800px;
    height: 50px;
    padding-left: 1rem;
    
}

.addTabPermitCommentsListElement {
    display: flex;
    margin-left: 0;
    margin-right: .5rem;
}

.addCommentTabNextPrevContainer {
    display: flex;
    flex-direction: row;
}

    /* All WR's Tab - Display - Headers */

.allWrDisplayLabelContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.allWrTabDisplayHeader {
    display: flex;
    flex-direction: column;
    height: 83px;
    width: 60px;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.allWrTabDisplayHeaderBig {
    display: flex;
    flex-direction: column;
    height: 83px;
    width: 160px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.allWrTabDisplayHeaderSmall {
    display: flex;
    flex-direction: column;
    height: 83px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: small;
}

    /* All WR's Tab - Display - Rows*/ 
.allWrRowElementContainer {
        display: flex;
        height: 75px;
        width: 92px;
        align-items: center;
        justify-content: center;
        /*padding-left: 1rem;
        padding-right: 1rem;*/
        /*border-bottom: 2px solid black;*/
        border-right: 2px solid black;
        font-size: smaller;
        flex-direction: column;
}

.allWrRowElementContainerStatus {
    display: flex;
    height: 75px;
    width: 92px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    /*border-bottom: 2px solid black;*/
    border-right: 2px solid black;
    font-size: smaller;
    flex-direction: column;
}
    
.allWrRowElementContainerSmall {
        display: flex;
        height: 75px;
        width: 72px;
        align-items: center;
        justify-content: center;
        /*padding-left: 1rem;
        padding-right: 1rem;*/
        /*border-bottom: 2px solid black;*/
        border-right: 2px solid black;
}
    
.allWrRowElementContainerBig {
        display: flex;
        height: 75px;
        width: 160px;
        padding-left: 15px;
        align-items: center;
        justify-content: center;
        
        /*border-bottom: 2px solid black;*/
        border-right: 2px solid black;
}
    
.allWrTabDisplayTextfieldSmall {
        display: flex;
        height: 30px;
        width: 30px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        padding: 10px; 
}
    
.allWrTabDisplayTextfield {
        display: flex;
        height: 30px;
        width: 92px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        padding: 10px; 
        font-size: 8.5px;
}

    /* Permits Tab - Display - Headers */

.permitsDisplayContainer {
    display: flex;
    flex-direction: column;
}

.permitsTabDisplayHeaderContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.permitsTabDisplayHeader {
    display: flex;
    height: 83px;
    width: 60px;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.permitsTabDisplayHeaderBig {
    display: flex;
    flex-direction: column;
    height: 83px;
    width: 180px;
    align-items: center;
    justify-content: center;
    
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.permitsTabDisplayHeaderSmall {
    display: flex;
    height: 83px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: small;
}

    /* Permits Tab - Display - Rows */

.displayRow {
    display: flex;
    flex-direction: row;
    /*border-left: 2px solid black;*/
    border: 1px solid black;
}

.permitRowElementContainer {
    display: flex;
    height: 75px;
    width: 92px;
    align-items: center;
    justify-content: center;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    /*border-bottom: 2px solid black;*/
    border-right: 2px solid black;
    flex-direction: column;
}

.permitRowElementContainerSmall {
    display: flex;
    height: 75px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    /*border-bottom: 2px solid black;*/
    border-right: 2px solid black;}

.permitRowElementContainerBig {
    display: flex;
    height: 75px;
    width: 180px;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}

.permitsTabDisplayTextfieldBig {
    display: flex;
    height: 70px;
    width: 180px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.permitsTabDisplayTextfieldSmall {
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}

.permitsTabDisplayTextfield {
    display: flex;
    height: 30px;
    width: 92px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    font-size: small;
}

.permitsTabDisplayTextfieldDisabled {
    display: flex;
    height: 30px;
    width: 92px;
    align-items: center;
    justify-content: center;
    padding: 8px; 
    font-size: small;
}

.addTabPermitRcdError {
    display: flex;
    padding-left: 40px;
    
    margin-top: 100px;
    height: 20px;
    width: 200px;
    justify-content: flex-end;
}

.addTabWrRcdError {
    display: flex;
    padding-left: 40px;
    padding-right: 130px;
    margin-top: 100px;
    height: 20px;
    justify-content: flex-end;
}
/* Small change to push*/

.removeSideMargins {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    column-gap: 0px;
}

.wrAddressTypeContainer {
    display: flex;
    flex-direction: column;
}

.wrAddressTypeWrNumber {
    display: flex;
    font-size: 11px;
}

.wrAddressTypeStreetInfo, .wrAddressTypeCountyInfo {
    display: flex;
    font-size: 11px;
}

.wrAddressTypeWrType {
    display: flex;
    font-size: 10px;
}

.addTabCommentsRemoveButton {
    height: 20px;
    width: 20px;
    font-size: x-large;
    margin: 1rem;
    margin-left: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.addTabPermitCommentsRemoveButton {
    height: 20px;
    width: 20px;
    font-size: x-large;
    margin: 1rem;
    margin-left: 350px;
    /*margin-left: 350px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.selectedComment {
    border: 1px solid red;
}

.settingsButton {
    display: flex;
    font-size: 32px;
    height: 25px;
    width: 25px;
    justify-content: center;
    margin-left: 30px;
    padding-bottom: 2px;
}

.settingsDisplayContainer {
    display: flex;
    flex-direction: row;
    z-index: 2;
    height: 815px;
    width: 1426px;
    background-color: rgba(141, 130, 130, 0.668);
    border: 2px solid black;
    position: absolute;
    align-items: center;
    
}

.settingsDisplayLowerDisplayContainer {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 1100px;
    height: 550px;
    margin-left: 48px;
}

.settingsDisplayLowerDisplayContainerColorsLeft {
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    height: 505px;
    margin-top: 20px;
    margin-left: 10px;
}

.settingsDisplayLowerDisplayContainerColorsRight {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.settingsDisplayColorsTabsContainer {
    display: flex;
    flex-direction: row;
    margin-left: 28px;
}

.settingsDisplayRowsContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    height: 700px;
    width: 1200px;
    margin-left: 111px;
}

.settingsDisplayRowOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    width: 600px;
    justify-content: space-between;
}

.settingsDisplayRowTwo {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 200px;
}

.settingsXButton {
    font-size: 20px;
    margin-left: 15px;
}

.settingsDisplayContainerLabel {
    display: flex;
    font-size: 26px;
}

.settingsDisplayTab {
    display: flex;
    font-size: large;
    width: 105px;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    border: 2px solid black;
}

.settingsDisplayTabLower {
    display: flex;
    font-size: large;
    width: 105px;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;


}

.settingsDisplayColorOptionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsDisplayTabColors {
    display: flex;
    font-size: large;
    border: 2px solid black;
    width: 135px;
    justify-content: center;
    padding-left: 15px;

}

.settingsDisplayInnerColors {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 920px;
    height: 470px;
    margin-left: 28px;
    align-items: center;
}

.settingsDisplayInnerColorsTop {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 200px;
    align-items: center;
}

.settingsDisplayInnerColorsBottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    border: 2px solid black;
    padding: 20px;
    justify-content: center;
    margin-top: 50px;
}

.settingsDisplayInnerColorsLabel {
    font-size: large;
    margin-right: 10px;
}

.currentColorAssignedBox {
    display: flex;
    border: 2px solid black;
    padding: 5px;
    width: 75px;
    justify-content: center;
}

.colorSaveButton {
    font-size: large;
    margin-left: 330px;
}

.colorOption {
    display: flex;
    font-size: large;
    border: 2px solid black;
    width: 60px;
    margin: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: center;
}

.optionElement {
    display: flex;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 120px;
    align-items: center;
    justify-content: center;

}

.hidden {
    display: none;
    

}